./code/Project9/demo.MOV
./code/Project11/video_of_some_result/Square.mp4
./code/Project11/video_of_some_result/Pong.mp4
./code/Project4/Fill.MOV
./code/Project4/Mult.MOV
./.git/objects/d1/c4f6961ee8592d55e0417b980ac9cce1537091
./.git/objects/f6/3ea7ebdcc0ae754791fc28d456edeee252c5a1
./.git/objects/2b/149f5b60fc54ff397d93d264ce8d85460c2396*.MOV
*.mov
*.MP4
*.mp4
*.avi
*.mkv
*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dmg
*.iso
*.bin
*.log
*.bak
